@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('assets/splashbackdrop.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-color: rgba(255, 255, 255, 1); /* Adjust the alpha (0.5) for the desired opacity */
        }

        div {
            padding: 5px;
        }

        .tableForm {
            background-color: rgba(255, 255, 255, .90); /* Adjust the alpha (0.5) for the desired opacity */
        }
    </style>
</head>
<body>
    <div class="text-center tableForm">
        <h1 class="display-4" style="font-weight: bold;">Welcome to GearNet</h1>
        <p>**Under Contruction**</p>
    </div>
</body>
</html>
