<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GearNet Lab Landing Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GearNet.styles.css" asp-append-version="true" />
    <style>
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
            background-color: white;
        }

        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            z-index: 1000;
            border-top: 1px solid #e0e0e0;
        }

        .navbar-nav.evenly-spaced {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-left: 0;
        }

            .navbar-nav.evenly-spaced .nav-item {
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
            }

            .navbar-nav.evenly-spaced .nav-link {
                padding: 10px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: white;
                color: #000;
                border: none;
                transition: background-color 0.3s ease;
            }

                .navbar-nav.evenly-spaced .nav-link:hover {
                    background-color: #dbdade;
                }

                .navbar-nav.evenly-spaced .nav-link:focus,
                .navbar-nav.evenly-spaced .nav-link:active {
                    background-color: #aaaaac;
                    outline: none;
                }

        .navbar-brand {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }


            .navbar-brand img {
                height: 50px;
                width: 50px;
                margin-right: 10px;
            }

        .logo-buffer {
            width: 133px;
            flex-shrink: 0;
            margin-left: 16px;
            margin-right: 16px;
        }

    </style>

</head>
<body>
    <header>
        <nav style="padding: 0rem; padding-left: 1rem" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="top-navbar">
            <div style="height: 100%; padding: 0rem; display: flex; align-items: center;" class="container-fluid">

                <a class="navbar-brand" id="logo-link" style="word-break:normal">
                    <img class="navbar-brand" src="~/assets/logo.png" />GearNet
                </a>

                <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div style="padding: 0rem; flex-grow: 1; align-self:stretch; align-items: center;" class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 evenly-spaced" style="height: 100%;">
                        <li class="nav-item">
                            <a data-testid="Home" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a data-testid="Info" class="nav-link text-dark" asp-area="" asp-controller="Information" asp-action="Index">Information Hub</a>
                        </li>
                        <li class="nav-item">
                            <a data-testid="Cases" class="nav-link text-dark" asp-area="" asp-controller="Cases" asp-action="Index">Cases</a>
                        </li>
                        <li class="nav-item">
                            <a data-testid="Booking" class="nav-link text-dark" asp-area="" asp-controller="Cases" asp-action="CaseSelection">Device Booking</a>
                        </li>
                        <li class="nav-item">
                            <a data-testid="Devices" class="nav-link text-dark" asp-area="" asp-controller="Devices" asp-action="Index">Devices- Admin</a>
                        </li>
                        <li class="nav-item">
                            <a data-testid="Students" class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students- Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="logo-buffer navbar-collapse" id="logo-buffer"></div>
        </nav>
    </header>
    <div class="container" style="margin-top: 56px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white" style="position: fixed; bottom: 0; width: 100%;">
        <div class="container">
            &copy; 2023 - GearNet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
